.desc__top {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 1136px;
    height: 403px;
    align-self: center;
}

.desc__top__img {

    width: 560px;
    height: 403px;
    

}

.desc__top__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 560px;
    height: 210px;
}

.desc__top__info__nombre {
    width: 560px;
    height: 61px;
    font-weight: 500;
    font-size: 52px;
    line-height: 61px;
    color: #464646;
}

.desc__top__info__precio::before {
    content: "$ ";
}

.desc__top__info__descripcion {
    width: 560px;
    height: 114px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.desc__linea-producto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 1136px;
    height: 306px;
    align-self: center;
  
}

.desc__linea-producto__top {
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}

.desc__linea-producto__productos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 1136px;
    height: 252px;

}

.desc__linea-producto__productos__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 176px;
    height: 252px;

}

.desc__linea-producto__productos__card__nombre {
    font-weight: 500;
    color: #464646;
}

.desc__linea-producto__productos__card__precio {
    font-weight: 700;
    color: #464646;
}

.desc__linea-producto__productos__card__ver {
    font-weight: 700;
    color: #2A7AE4;
}